body, html {
    font-family: 'Exo', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #FFFFFF;
    overflow: auto; /* Ensure scrolling is allowed */
}

header {
    background: linear-gradient(to right, #000000, #00FFFF);
    text-align: center;
    padding-bottom: 1rem;
    color: white;
    font-family: 'Arial', sans-serif; /* Du kan bytte ut denne med en mer futuristisk font */
}

.logo {
    width: 12.5rem; /* 200px / 16px */
    height: 12.5rem; /* 200px / 16px */
}

span {
    color: #008000; /* Neonblå tekstfarge */
}

.span-red {
    color: red;
    font-weight: bold;
}

/* Variabler */
:root {
    --background-color: #1a1a1a;
    --hover-background-color: #222;
    --box-shadow: 0 0.25rem 0.5rem rgba(0, 255, 255, 0.5);
    --hover-box-shadow: 0 0.5rem 1rem rgba(0, 255, 255, 0.7);
    --text-color: #00FFFF;
    --button-background-color: #008000;
    --button-hover-background-color: #006600;
    --button-box-shadow: 0 0.25rem 0.5rem rgba(0, 128, 0, 0.5);
    --button-hover-box-shadow: 0 0.5rem 1rem rgba(0, 128, 0, 0.7);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem; /* 20px / 16px */
    padding: 1.25rem; /* 20px / 16px */
}

.section {
    background-color: var(--background-color);
    border-radius: 0.625rem; /* 10px / 16px */
    padding: 1.25rem; /* 20px / 16px */
    box-shadow: var(--box-shadow);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.section h2 {
    color: var(--text-color);
    font-size: 2rem;
    margin-bottom: 0.625rem; /* 10px / 16px */
    text-align: center; /* Center all h2 elements */
}

.section p {
    color: #FFFFFF;
    font-size: 1.2rem;
    line-height: 1.6;
}

.section:hover {
    background-color: var(--hover-background-color);
    box-shadow: var(--hover-box-shadow);
}

/* Oppdater .model-container til å være et grid med maks 5 kolonner og litt plass mellom boxene */
.model-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Maks 5 kolonner */
    gap: 1.25rem 1.25rem; /* 20px / 16px mellom rader og kolonner */

}

/* Oppdater .model-box til å bruke Flexbox for å sentrere innholdet */
.model-box {
    background-color: #222;
    border-radius: 0.625rem; /* 10px / 16px */
    padding: 1.25rem; /* 20px / 16px */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 255, 255, 0.5); /* Box-effekt */
    transition: background-color 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center; /* Sentrerer innholdet horisontalt */
}

/* Sentrerer knappen i bunnen av .model-box */
.model-box .button {
    background-color: var(--button-background-color);
    border: none;
    color: #FFFFFF;
    padding: 0.625rem 1.25rem; /* 10px 20px / 16px */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.625rem 0; /* 10px 0 / 16px */
    cursor: pointer;
    border-radius: 0.5rem; /* 8px / 16px */
    box-shadow: var(--button-box-shadow);
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: auto; /* Plasserer knappen i bunnen */
}

.model-box .button:hover {
    background-color: var(--button-hover-background-color);
    box-shadow: var(--button-hover-box-shadow);
}

.model-box, .platform-box {
    background-color: #222;
    border-radius: 0.625rem; /* 10px / 16px */
    padding: 1.25rem; /* 20px / 16px */
    box-shadow: var(--box-shadow);
    transition: background-color 0.3s, box-shadow 0.3s;
    flex: 1 1 18.75rem; /* 300px / 16px */
}

.model-box h3, .platform-box h3 {
    color: var(--text-color);
    font-size: 1.5rem;
    margin-bottom: 0.625rem; /* 10px / 16px */
}

.model-box p, .platform-box p {
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 1.6;
}

.model-box .button, .platform-box .button {
    background-color: var(--button-background-color);
    border: none;
    color: #FFFFFF;
    padding: 0.625rem 1.25rem; /* 10px 20px / 16px */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.625rem 0; /* 10px 0 / 16px */
    cursor: pointer;
    border-radius: 0.5rem; /* 8px / 16px */
    box-shadow: var(--button-box-shadow);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.model-box .button:hover, .platform-box .button:hover {
    background-color: var(--button-hover-background-color);
    box-shadow: var(--button-hover-box-shadow);
}

.model-box:hover, .platform-box:hover {
    background-color: var(--hover-background-color);
    box-shadow: var(--hover-box-shadow);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

footer {
    background: linear-gradient(to right, #000000, #00FFFF);
    color: white;
    text-align: center;
    padding: 0.625rem 0; /* 10px 0 / 16px */
    position: relative;
    width: 100%;
    bottom: 0;
}

/* Hamburger Menu Styles */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
}

.hamburger-menu .line {
    width: 1.5625rem; /* 25px / 16px */
    height: 0.1875rem; /* 3px / 16px */
    background-color: #00FF00;
    margin: 0.25rem 0; /* 4px 0 / 16px */
    transition: all 0.3s ease;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 0.9375rem; /* 15px / 16px */
}

nav ul li a {
    color: #00FF00;
    text-decoration: none;
    transition: color 0.3s, box-shadow 0.3s;
    box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.3); /* 2px 2px 5px / 16px */
}

nav ul li a:hover {
    color: #00FF00;
    box-shadow: 0.25rem 0.25rem 0.625rem rgba(0, 0, 0, 0.5); /* 4px 4px 10px / 16px */
}

/* Ekstra CSS for #introduksjon */
#introduksjon {
    background-color: var(--background-color);
    border-radius: 0.625rem; /* 10px / 16px */
    padding: 1.25rem; /* 20px / 16px */
    box-shadow: var(--box-shadow);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#introduksjon h2 {
    color: var(--text-color);
    font-size: 2rem;
    margin-bottom: 0.625rem; /* 10px / 16px */
    text-align: center; /* Center all h2 elements */
}

#introduksjon p {
    color: #FFFFFF;
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Hover-effekt for #introduksjon */
#introduksjon:hover {
    background-color: var(--hover-background-color);
    box-shadow: var(--hover-box-shadow);
}

/* Ekstra CSS for #nyheter-og-oppdateringer */
#nyheter-og-oppdateringer {
    background-color: var(--background-color);
    border-radius: 0.625rem; /* 10px / 16px */
    padding: 1.25rem; /* 20px / 16px */
    box-shadow: var(--box-shadow);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#nyheter-og-oppdateringer h2 {
    color: var(--text-color);
    font-size: 2rem;
    margin-bottom: 0.625rem; /* 10px / 16px */
    text-align: center; /* Center all h2 elements */
}

#nyheter-og-oppdateringer p {
    color: #FFFFFF;
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Hover-effekt for #nyheter-og-oppdateringer */
#nyheter-og-oppdateringer:hover {
    background-color: var(--hover-background-color);
    box-shadow: var(--hover-box-shadow);
}

/* Ekstra CSS for #lokale-modeller */
#lokale-modeller {
    background-color: var(--background-color);
    border-radius: 0.625rem; /* 10px / 16px */
    padding: 1.25rem; /* 20px / 16px */
    box-shadow: var(--box-shadow);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#lokale-modeller h2 {
    color: var(--text-color);
    font-size: 2rem;
    margin-bottom: 0.625rem; /* 10px / 16px */
    text-align: center; /* Center all h2 elements */
}

#lokale-modeller p {
    color: #FFFFFF;
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Hover-effekt for #lokale-modeller */
#lokale-modeller:hover {
    background-color: var(--hover-background-color);
    box-shadow: var(--hover-box-shadow);
}

/* Ekstra CSS for #apne-modeller */
#apne-modeller {
    background-color: var(--background-color);
    border-radius: 0.625rem; /* 10px / 16px */
    padding: 1.25rem; /* 20px / 16px */
    box-shadow: var(--box-shadow);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#apne-modeller h2 {
    color: var(--text-color);
    font-size: 2rem;
    margin-bottom: 0.625rem; /* 10px / 16px */
    text-align: center; /* Center all h2 elements */
}

#apne-modeller p {
    color: #FFFFFF;
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Hover-effekt for #apne-modeller */
#apne-modeller:hover {
    background-color: var(--hover-background-color);
    box-shadow: var(--hover-box-shadow);
}

/* Ekstra CSS for #bildemodeller */
#bildemodeller {
    background-color: var(--background-color);
    border-radius: 0.625rem; /* 10px / 16px */
    padding: 1.25rem; /* 20px / 16px */
    box-shadow: var(--box-shadow);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#bildemodeller h2 {
    color: var(--text-color);
    font-size: 2rem;
    margin-bottom: 0.625rem; /* 10px / 16px */
    text-align: center; /* Center all h2 elements */
}

#bildemodeller p {
    color: #FFFFFF;
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Hover-effekt for #bildemodeller */
#bildemodeller:hover {
    background-color: var(--hover-background-color);
    box-shadow: var(--hover-box-shadow);
}

/* Ekstra CSS for #om-oss */
#om-oss {
    background-color: var(--background-color);
    border-radius: 0.625rem; /* 10px / 16px */
    padding: 1.25rem; /* 20px / 16px */
    box-shadow: var(--box-shadow);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#om-oss h2 {
    color: var(--text-color);
    font-size: 2rem;
    margin-bottom: 0.625rem; /* 10px / 16px */
    text-align: center; /* Center all h2 elements */
}

#om-oss p {
    color: #FFFFFF;
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Hover-effekt for #om-oss */
#om-oss:hover {
    background-color: var(--hover-background-color);
    box-shadow: var(--hover-box-shadow);
}

/* Media Queries */

/* Hide nav list on small screens */
@media (max-width: 48rem) { /* 768px / 16px */
    .hamburger-menu {
        display: flex;
    }

    nav ul {
        display: none; /* Hide the nav list */
        flex-direction: column;
        align-items: center;
        background-color: #444;
        padding: 1.25rem; /* 20px / 16px */
        position: absolute;
        top: 3.75rem; /* 60px / 16px */
        width: 100%;
        left: 0;
    }

    nav ul li {
        margin: 0.625rem 0; /* 10px 0 / 16px */
    }

    nav ul.active {
        display: flex; /* Show the nav list when active */
    }
}

/* Adjust container width on small screens */
@media (max-width: 48rem) { /* 768px / 16px */
    .container {
        width: 90%;
    }
}

/* Adjust container width and header padding on very small screens */
@media (max-width: 25rem) { /* 400px / 16px */
    .container {
        width: 95%;
    }

    header {
        padding: 0 0 0.625rem; /* 0 0 10px / 16px */
    }

    .logo {
        width: 2.5rem; /* 40px / 16px */
        height: 2.5rem; /* 40px / 16px */
    }

    nav ul li {
        margin: 0.3125rem 0; /* 5px 0 / 16px */
    }

    .section {
        padding: 0.9375rem; /* 15px / 16px */
    }

    footer {
        padding: 0.3125rem 0; /* 5px 0 / 16px */
    }
}

/* Fjerne h1-elementet og justere plasseringen og størrelsen på logoen på de minste skjermene som mobiltelefoner */
@media (max-width: 25rem) { /* 400px / 16px */
    h1 {
        display: none;
    }

    .logo {
        width: 9.375rem; /* 150px / 16px */
        height: 9.375rem; /* 150px / 16px */
    }

    .container {
        justify-content: center;
    }
}

/* Responsiv design for mindre skjermer */
@media (max-width: 75rem) { /* 1200px / 16px */
    .model-container {
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr)); /* 4-5 kolonner på mindre skjermer */
    }
}

@media (max-width: 48rem) { /* 768px / 16px */
    .model-container {
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr)); /* 3-4 kolonner på enda mindre skjermer */
    }
}

@media (max-width: 30rem) { /* 480px / 16px */
    .model-container {
        grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr)); /* 2-3 kolonner på de minste skjermene */
    }
}

/* Responsiv design for mindre skjermer */
@media (max-width: 75rem) { /* 1200px / 16px */
    .model-container {
        grid-template-columns: repeat(4, 1fr); /* 4 kolonner på mindre skjermer */
    }
}

@media (max-width: 58.125rem) { /* 930px / 16px */
    .model-container {
        grid-template-columns: repeat(3, 1fr); /* 3 kolonner på enda mindre skjermer */
    }
}

@media (max-width: 48rem) { /* 768px / 16px */
    .model-container {
        grid-template-columns: repeat(2, 1fr); /* 2 kolonner på enda mindre skjermer */
    }
}

@media (max-width: 30rem) { /* 480px / 16px */
    .model-container {
        grid-template-columns: 1fr; /* 1 kolonne på de minste skjermene */
    }
}
}













